<mat-card class="home mat-elevation-z5">
    <mat-card-title class="title">
        Hello
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Esta é a página de Hello
    </mat-card-subtitle>
</mat-card>

<div class="imageBox">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7589ef48-cdee-4a13-88a4-be44f05aaffb/de85sn8-461ac277-256e-473d-a602-7acb7497bfd2.png/v1/fill/w_1280,h_1707/goku_ssj_god_by_elnoobmashd_de85sn8-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTcwNyIsInBhdGgiOiJcL2ZcLzc1ODllZjQ4LWNkZWUtNGExMy04OGE0LWJlNDRmMDVhYWZmYlwvZGU4NXNuOC00NjFhYzI3Ny0yNTZlLTQ3M2QtYTYwMi03YWNiNzQ5N2JmZDIucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.QR7b685-6E3AaczPWo4xpI2tAagE5QvS9K4i29jgZJM" alt="">
</div>